{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container-fluid">
  <img class="img-fluid" src="{% static 'home_page.png' %}"/>
  <h1 class="display-3 text-center">Welcome to PokeApp  <img class="img-fluid" src="{% static 'pokedex64px.png' %}"/></h1>
</div>
<div class="container-fluid pt-5 pl-4">
<p class="text-justify">
  This is a sample App built by Django and Python. This Website has been developed in order to practice and build portfolios using Django by fetching the data from an Open sourced API hosted by Opensource Community <a href="https://pokeapi.co/docs/v2">Poke API</a>. Below are few Modules, you can explore,
</p>
</div>
<div class="d-grid gap-2 pt-5 text-center">
  <button class="btn btn-primary" type="button">Pokemon List</button>
  <button class="btn btn-primary" type="button">Moves</button>
  <button class="btn btn-primary" type="button">Types</button>
</div>
{% endblock %}
